section
  form.forUpload(action='/upload_process', method='post')
    #title
      input(
        type='text'
        placeholder='Title'
        name='title'
        maxlength='25'
        required
      )
      |
      br
      |
      textarea(
        name='content'
        placeholder='type something'
        cols='40'
        rows='7'
        maxlength='270'
      )
      |
      br
      |
      button(type='submit')
        |submit
