section
  form(action='/login_process', method='post')
    label(for='ID')
      |ID
    input(
      type='text'
      placeholder='type ID'
      name='ID'
      required
    )
    |
    br
    |
    label(for='PW')
      |Password
    input(
      type='password'
      placeholder='type password'
      name='PW'
      required
    )
    |
    br
    |
    button(type='submit')
      |Login
